   .mobile_nav{
    display: none;
}

  .mobile_nav{
    padding: 0px;
    position: fixed;
    top:0;
    background: white;
    width:100%;
    z-index: 999;
}


  .mobile_nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    list-style-type: none;
    padding:0;
    margin:0 10px;
}

   .mobile_nav > ul > li  img{
    width: 70px;
}

.mobile_nav > ul > li  h2{
    color: orange;
}

   .mobile_nav > ul > li > div{
    color:orange;
    background: orange;
    overflow: hidden;
    margin: 4px 0;
    width: 30px;
    height: 3px;
}



  .mobile_nav > ul > li{
    cursor: pointer;
}

  .mobile_nav > ul:last-child {
    display: none;
    flex-flow: column nowrap;
    align-items: flex-start;
    list-style-type: none;
    padding:20px;
    height: 70vh;
    margin: 10 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 2px 5px 3px rgba(128, 128, 128, 0.219);
    -webkit-animation-name: navslide;
    -webkit-animation-duration: 1.5s;
    animation-name: navslide;
    animation-duration: 1.5s;
}

  .mobile_nav ul li a svg path{
    fill:orange;
}



@-webkit-keyframes navslide {
    from {
        opacity: .4;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes navslide {
    from {
        opacity: .2;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

  .mobile_nav > ul:last-child > li > a{
    display: block;
    text-decoration: none;
    color:orange;
}

  .mobile_nav > ul:last-child > li:last-child > a{
    color:white;
    border: 1px solid #FD8E06;
    border-radius: 5px;
    background: #FD8E06;
    padding:5px 10px;
}

@media screen and (max-width: 700px){
   .dashboardApp .mobile_nav{
        display: block;
    }
}